/* styling index.html */
body {
    background-image: url(Sunset-Mara.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

header {
    display: flex;
    align-items: center;
    background-color: slategrey;
    color: purple;
    justify-content: space-around;
    padding: 10px 20px;
}

nav ul {
    list-style-type: none;
    display: flex;
    padding: 0;
}

nav ul li {
    margin-right: 20px;
}

h1 {
    margin: 0;
    color: white;
}

h2 {
    color: brown;
    margin: 0;
    padding: 0;
}

p {
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    padding: 50px;
}

header {
    background-color: grey;
    color: white;
    padding: 15px;
}

footer {
    color: gray;
    text-align: center;

}

/* styling skills.html */
.skills-paragraph {
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    padding: 80px;
}

/* styling About.html */
.unique-paragraph {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    padding: 50px;
}

.center {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 20%;
    border: 2px solid black;
}


/* Styling contacts.html */


.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 300px;
    border: 2px;
    padding: 100px;
}

/* Styling of Skills.html */
ul {
    list-style: none;
    padding: 0%;
    margin: 0%;
    text-align: center;
    color: black;
}

li {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
    display: inline-flexbox;
    text-align: center;
}

/* styling project.html */
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
    border: 10px solid grey;}
    padding: 10px;

.image-container img {
    max-width: 80%; 
    max-height: 100%; 
}