/* body {
    background-color: rgb(134, 143, 140);
}
 */

body {
    background-image: url(Sunset-Mara.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #cccccc;
    height: 1000px;
}

header {
    display: flex;
    align-items: center;
    background-color: slategrey;
    color: purple;
    justify-content: space-around;
    padding: 10px 20px;
}

nav ul {
    list-style-type: none;
    display: flex;
    padding: 0;
}

nav ul li {
    margin-right: 20px;
}

h1 {
    margin: 0;
    color: white;
}

p {
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    padding: 250px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 300px;
    border: 2px;
    padding: 250px;
}